<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/20ddb141-6e05-4937-b961-85c4b8e7557b/resourcegroups/cmsrioResourceGroup/providers/Microsoft.Web/sites/cmsrio</ResourceId>
    <ResourceGroup>cmsrioResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cmsrio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmsrio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cmsrio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cmsrio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cmsriodbserver.database.windows.net,1433;Initial Catalog=cmsrio_db;User ID=admroot@cmsriodbserver;Password=CMSRIOp@ssw0rd" Name="Data Source=tcp:cmsriodbserver.database.windows.net,1433;Initial Catalog=cmsrio_db;User Id=admroot@cmsriodbserver;Password=CMSRIOp@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApi.Contexto.ContextDB, WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cmsriodbserver.database.windows.net,1433;Initial Catalog=cmsrio_db;User Id=admroot@cmsriodbserver;Password=CMSRIOp@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>